html {
    scroll-behavior: smooth;
}

body{
    background-color: #84a9ac;
}
li {
    display: inline;
}
fieldset {
    color: white;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 1px solid black;
}
.navbar{
    background-color: #204051;
}
#menu{
    color: black;
}
#menu a{
    color:white;
    font-size: 20px;
}
#right{
    font-size: 30px;
    background-color: #84a9ac;
    text-align: right;
}
#left{
    background-color: white;
}
div.container-fluid{
    background-color: white;
}
.contactMenu{
    margin-left:6px;
    color: black;
}
.contactMenu::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #2D3047;
    transition: width .3s;
    text-decoration: none;
}
.contactMenu:hover{
    text-decoration: none;
    color: black;
}
.contactMenu:hover::after{
    width: 100%;
    transition: width .3s;
}
.stopka{
    text-align: center;
    background-color: #204051;
    color:white;
    padding: 5px 0px;
}
.scroll {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
}
#mainQuiz{
    color:black;
}
.container {
    margin-top: 50px;
    color: white;
}

.list-group-item {
    cursor: pointer;
    color: black;
}

.correct {
    background-color: #289a27;
}

.incorrect {
    background-color: #c41a21;
}

.buttons {
    padding: 10px 10px 10px 0;
}


