body{
    background-color: #2D3047;
}
li {
    display: inline;
}
fieldset {
    color: white;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 1px solid black;
}
#menu{
    background-color: #2D3047;
    color: black;
}
#menu a{
    color:white;
    font-size: 20px;
}
#right{
    font-size: 30px;
    background-color: #C0B8C6;
    text-align: right;
}
#left{
    background-color: white;
}
div.container-fluid{
    background-color: white;
}
.contactMenu{
    margin-left:6px;
    color: white;
}
.contactMenu::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #2D3047;
    transition: width .3s;
    text-decoration: none;
}
.contactMenu:hover{
    text-decoration: none;
    color: black;
}
.contactMenu:hover::after{
    width: 100%;
    transition: width .3s;
}
.stopka{
    text-align: center;
    background-color: black;
    color:white;
    padding: 5px 0px;
}
